.modal {
    
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    
}
 .modal__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    
    
    background-color: var(--white-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;  
    outline: none; 

    transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

        &:hover,
        &:focus {
            border-color: var(--accent-text-color);
            fill: var(--accent-text-color);
    }
} 

.modal-form__title {
    text-align: center;
    color: var(--title-text-color);
    
}
.modal-form__iteam {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;

    transition: fill 250ms var(--timing-function);
    
        &:hover,
        &:focus-within {
            fill: var(--accent-text-color);
    
    }
    & input {
        margin: 0;
        padding: 11px ;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        
        transition: border-color 250ms var(--timing-function);
            &:hover,
            &:focus {
                border-color: var(--accent-text-color);
            
        } 
        
    }
    & label {
        margin-bottom: 4px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.01em;
        
    } 
}
.modal-form__image {
    position: absolute;
    left: 15px;
    top: 32px; 
    
}

textarea {
    resize: none;
    
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px;
    outline: none;

    transition: border-color 250ms var(--timing-function);
        &::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
   
    }
    
    &:hover,
    &:focus {
        border-color: var(--accent-text-color);

    }   
}   






