
.page-navigation__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
}
.works-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}

.team-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}
.clients-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}

.social-title {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color); 
    margin-bottom: 20px;
    
}