.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
}
.section-works__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}

.section-team__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}
.section-clients__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
}

.card-social__title {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color); 
    margin-bottom: 20px;
    
}