.section-list {
display: flex;
    & .section-list__iteam {
    width: 270px;
        &::before {
        content: '';
        display: block;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        color: var(--primart-text-color);
        background-color:var(--primary-button-color);
        background-repeat: no-repeat;
        background-position: center ;
        
    } 
        &:nth-child(1)::before {
        background-image: url(../images/antenna.svg);  
    }
        &:nth-child(2)::before {
        background-image: url(../images/clock.svg);
    }
        &:nth-child(3)::before {
        background-image: url(../images/diagram.svg);
    }
        &:nth-child(4)::before {
        background-image: url(../images/astronaut.svg);
    }
        &:not(:last-child) {
        margin-right: 30px;
        }
    }
    & .section-list__title {
        color: var(--title-text-color);
    
        margin-top: 0;
        margin-bottom: 24px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    
        & p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}



/*Section*/




.flex .section-works__iteam {
    display: flex;
   

}
.section-works__list {
    display: flex;
    justify-content: center;
    position: relative;
    & .section-works__iteam:not(:last-child) {
        margin-right: 30px;
    }
}

.section-works__text {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
   
    
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white-text-color);

}