
.footer-logo {
    display: block;
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.footer {
    background: #2F303A;
    text-decoration: none;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;
  }

.footer-card {
    display: flex;
    align-items: baseline;
  }
  
.footer-card__address {
    font-style: normal;
  }
  
  .footer-list__iteam:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .card-footer__link--blue {
    color: var(--white-text-color);
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
        &:hover, 
        &:focus {
            color: var(--accent-text-color);
    }
  }
  
  
  .footer-list__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
      &:hover,
      &:focus {
    color: var(--white-text-color);
  }
  }

  
  
  
